[program:app-worker]
process_name=%(program_name)s_%(process_num)02d
command={{ php_artisan }} queue:work --queue=high,batch,single --tries=1 --max-time=180
autostart=true
autorestart=true
user=sendmails
numprocs=15
redirect_stderr=true
stdout_logfile=/var/log/supervisor/output
stderr_logfile=/var/log/supervisor/error
